<h2> SCHEDULE </h2>

<div class="flex-row">
<h3> Events </h3>

  <ul>
    <li *ngFor="let genericEvent of user.Band.Schedule.GenericEvents">
      {{ genericEvent.Id }} {{ genericEvent.Type }}
    </li>
  </ul>
</div>

<div class="flex-row">
	<h3> Calendar </h3>
</div>

<div class="flex-row">
	<div class="btn-group btn-group-lg" role="group">	
		
		<button *ngFor="let genericEvent of user.Band.Schedule.GenericEvents" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  			{{genericEvent.Type}}
		</button>

		<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  		Popover on top
		</button>

	</div>
</div>
