<h2> SCHEDULE </h2>

<div class="flex-row">
<h3> Events </h3>

  <ul>
    <li *ngFor="let genericEvent of user.Band.Schedule.GenericEvents">
      {{ genericEvent.Id }} {{ genericEvent.Type }}
    </li>
  </ul>
</div>

<div class="flex-row">
	<h3> Calendar </h3>
</div>

<div class="flex-row">
	<div class="btn-group btn-group-lg" role="group">
		<button *ngFor="let genericEvent of user.Band.Schedule.GenericEvents" type="button" class="btn btn-secondary" data-toggle="collapse" data-target="#collapseOne">
			{{genericEvent.Id}}
		</button>
	</div>
</div>


<div class="flex-row">

	<div class="collapse" id="collapseOne">
		<!--Panel-->
	    <div class="card card-body">
	        <h4 class="card-title">Panel title</h4>
    	    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	        <div class="flex-row">
	            <a class="card-link">Card link</a>
	            <a class="card-link">Another link</a>
	        </div>
	    </div>
	    <!--/.Panel-->
	</div>

</div>