.thatsmyband-bandlinedivinfo {
	-webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background-color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.thatsmyband-bandlinecontentinfo {
	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}