<div class="row">
  <h3 class="text-white"> {{user.Band.Name}} </h3>
</div>

<div class="row thatsmyband-bandlinedivinfo">
  <p class="thatsmyband-bandlinecontentinfo text-white"> Band Cohesion : {{user.Band.Cohesion}} </p>
</div>

<div class="row thatsmyband-bandlinedivinfo">
  <p class="thatsmyband-bandlinecontentinfo text-white"> Band Fame : {{user.Band.Fame}} </p>
</div>

<div class="row">
  <h4 class="text-white"> Players </h4>
</div>

  <ul>
    <li *ngFor="let player of user.Band.Players">
          <h5> {{ player.Name }} </h5>
          <p> {{ player.Skill }} </p>
    </li>
  </ul>

<div class="row">
  <h4 class="text-white"> Releases </h4>
</div>

  <ul>
    <li *ngFor="let release of user.Band.Releases">

          <h5> {{ release.Name }} </h5>

        <ul>
          <p>
        	<li *ngFor="let track of release.Tracks">
        		{{ track.Id }} {{ track.Name }}
        	</li>
        </p>
        </ul>

    </li>
  </ul>