.navbar {
  background-image:url('assets/resources/cover_picture.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.nav-link {
	color: white;
}

.navbar-brand{
	color: white;
  margin-left: 40px;
}

.navbar-toggle {
  background-image: url('assets/resources/046-flash.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: 0px;
}

.container-fluid {
    height: 100%;
}

.thatsmyband-maincontent {
	background: #636363;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

.thatsmyband-footercontent {
  background: #707070;
  height: 80px;
}