.navbar {
  background-image:url('assets/resources/cover_picture.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000000;
  margin: 4px;
  border-radius: 2px;
}

.nav-link {
	color: white;
}

.navbar-brand{
	color: white;
}

.thatsmyband-maincontent {
	background: #636363;
  height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
