.navbar {
	background-image: url("../resources/menu_background.jpg");
	background-size:cover;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000000;
  margin: 4px;
  border-radius: 2px;
}

.nav-link {
	color: white;
}

.navbar-brand{
	color: white;
}

.thatsmyband-maincontent {
	background-image: url("../resources/maincontent_background.jpg");
	background-size:cover;
    height: 100%;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}