<h2 class="text-white"> SCHEDULE </h2>

<div class="flex-row">
	<h3 class="text-white"> Next events </h3>
</div>

<div class="flex-row">
	<div class="btn-group btn-group-lg" role="group">	
		
		<!-- On affiche les 5 prochains events, si il n'y a pas d'events de prévu, on affiche "New / Nouveau" -->
		<div *ngFor="let nextEvent of nextEvents">
			<div *ngIf="nextEvent.Type != null; then filledTemplate else emptyTemplate"> </div> 
			
			<ng-template #filledTemplate>
				<a type="button" class="text-white btn btn-secondary" routerLink="/scheduleEvent/{{nextEvent.Id}}">
				{{nextEvent.Type}}
				</a>
			</ng-template>

			<ng-template #emptyTemplate>
				<a type="button" class="text-white btn btn-secondary" routerLink="/createNewEvent">
  					NEW	
  				</a>
  			</ng-template>
			
		</div>
	</div>
</div>

<div class="flex-row">
	<a type="button" class="text-white btn btn-secondary" routerLink="/runCurrentEvent">
  					RUN CURRENT EVENT	
  	</a>
</div>
