<h2> SCHEDULE </h2>

<div class="flex-row">
<h3> Events </h3>

  <ul>
    <li *ngFor="let genericEvent of user.Band.Schedule.GenericEvents">
      {{ genericEvent.Id }} {{ genericEvent.Type }}
    </li>
  </ul>
</div>

<div class="flex-row">
	<h3> Calendar </h3>
</div>

<div class="flex-row">
	<div class="btn-group btn-group-lg" role="group">	
		
		<a *ngFor="let genericEvent of user.Band.Schedule.GenericEvents" type="button" class="btn btn-secondary" routerLink="/scheduleEvent/{{genericEvent.Id}}">
  			{{genericEvent.Type}}
		</a>

	</div>
</div>
