<div class="row thatsmyband-userheaderimg">
	<img src="assets\resources\021-rockstar.svg">
</div>

<div class="row thatsmyband-userlinedivinfo">
	<h3 class="thatsmyband-userlinecontentinfo text-white"> {{userName}} </h3>
</div>

<div class="row thatsmyband-userlinedivinfo">
	<p class="thatsmyband-userlinecontentinfo text-white"> Cashflow : {{user.CashFlow}} </p>
</div>

<div class="row thatsmyband-userlinedivinfo">
	<p class="thatsmyband-userlinecontentinfo text-white"> Current Time : {{user.CurrentTime}} </p>
</div>